.footer{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #333333;
  color: #fff;
  padding: 12px;

  @media screen and(max-width: 768px){
    flex-direction: column;
  }
}